@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background: linear-gradient(90.44deg, #2ED0A0 0%, #0C110D 99.38%);
}

.cabecalho{
    gap: 100px;
    padding: 10px;
    justify-content: flex-end;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.catalogo{
    margin-right: 40px;
    font-size: 25px;
    color: white;
    background: none;
    border: none;
}

.perfil{
    background: url('/Home/Imagens/imgPD.png');
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding: 1px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.barra{
    border-bottom: 0.4px solid #D9D9D9;
}

.conteudo{
    margin-top: 2%;
}

.conteudo-p{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    gap: 32px;
}
.info-item{
    font-size: 20px;
    color: #f7f6f5;
}

.info-item-top{
    font-size: 20px;
    color: #f7f6f5;
    border-top: 0.4px solid #D9D9D9;
    padding-top: 20px;
}

.info-item-bot{
    font-size: 20px;
    color: #f7f6f5;
    border-bottom: 0.4px solid #D9D9D9;
    padding-bottom: 20px;
}

.icone{
    height: 500px;
    margin-left: 1%;
}