@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    
}


h1 {
    text-align: center;
    margin-top: 75px;
    ;
}

img {
    max-width: 100%;
    display: flex;
    height: 200px;
}


.header {
    background: linear-gradient(90deg,#27b68b,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header>a>img {
    height: 42px;
    display: flex;
    justify-content: center;
}

.header>a {
    font-family: times;
    font-weight: bold;
    font-size: 40px;
}

.menu {
    cursor: pointer;
    display: flex;

}

.menu a {
    display: block;
    padding: 10px;
    color: #FFFFFF;

}

.genero{
    border: 1px solid rgb(38, 38, 38);
    border-radius: 10px;
}

/*produtos*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.flex>div {

    margin: 10px;

}

.flex>div>a {
    background-color:#51CDA0;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3px;
    width: 290px;
    border-radius: 7px;
    color: black;
    
}

.flex>div>img {
    border: 1px solid rgba(0, 0, 0, 0.18);
    width: 290px;
    height: 400px;
    border-radius: 7px;


}

/*pesquisa*/

.search-container {
    width: 900px;
    display: block;
    margin: 0 auto;
    
}

input#search-bar {
    margin: 35px auto;
    width: 100%;
    height: 45px;
    padding: 1px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-radius: 80px;
    outline: none;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -95px;
    right: -15px;

}

/*menu-lateral*/

body {
    background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#check {
    display: none;
    background-color: #f00;
}

.barra {
    background-color: rgb(230, 230, 230);
    height: 190%;
    width: 300px;
    position: absolute;
    left: -300px;
    transition: all .2s linear;
}

.barra .link {
    color: #ffffff;
    list-style: none;
    background-color: #1fa77e;
    border-color: #4b4845;
}


nav a {
    text-decoration: none;
}

.link {
    color: #09090e;
    font-size: 17pt;
    font-weight: bold;
    padding: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: all .2s linear;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #2d8534;
}

#check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);

}
