@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.cabecalho{
    background: linear-gradient(90deg, #2ED0A0 0%, #0F1611 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.Icone{
    height: 42px;
}

.perfil{
    background: url('/Home/Imagens/imgPD.png');
    background-size:contain;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding: 1px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 7%;
}
.genero-but{
    background-color: #D9D9D9;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 1%;
    padding: 0 5px;
    display: flex;
    width: 200px;
    justify-content: center;
}

.pesquisa{
    background-color: white;
    border: 1px solid #757575;
    border-radius: 5px;
    margin-left: 1%;
    width: 200px;
    height: 25px;
    padding: 3%;
    font-size: 20px;
    margin-bottom: 1%;
    color: #757575;
}

.genero{
    display: flex;
    flex-direction: row;
}

ul{
    background-color: #217859;
    color: white;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 4px;
    font-size: large;
    gap: 10px;
    margin-top: 1%;
    margin-left: 1%;
    list-style: none;
    height: 600px;
    width: 200px;
}

li{
    padding: 10px;
}

li:hover{
    cursor: pointer;
    background-color: #1d654c;
}

.caixa{
    background: rgba(196, 196, 196, 0.26);
    border: 1px solid #757575;
    border-radius: 7px;
    width: 1400px;
    height: 600px;
    margin-top: 3.7%;
    margin-left: 2%;
    position: relative;
}

@media (max-width: 1500px){
    .caixa{
        width: 800px;
    }
}

.livros{
    box-sizing: content-box;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-around;
    gap: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.book-border{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.img-livro{
    border: 1px solid black;
    border-radius: 7px;
    width: 300px;
    height: 400px;
}

.preco{
    margin-top: 1%;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 7px;
    width: 100px;
}

.saibaM{
    background-color: white;
    border: 1px solid #757575;
    color: #757575;
    width: 198px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}

.comprar{
    background: #51CDA0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.comprar-a{
    font-size: 20px;
    color: black;
}


