body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f4f5;
}

.voltar {
    background: url(/Catalogo/Imagens/Polygon\ 3.png);
    background-position:center;
    background-repeat:no-repeat;
    border: 1px solid #757575;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 2%;
    margin-left: 85px;
    cursor: pointer;
    
}

a {
    text-decoration: none;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 75px;
}

img {
    max-width: 100%;
    display: flex;
   
}


.header {
    background: linear-gradient(90deg,#27b68b,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.header>a>img {
    height: 42px;
    
}

.box-genero {
    background: rgba(26, 83, 59, 0.26);
    border: 6px solid rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    border-radius: 7px;
    position: absolute;
    width: 100px;
    height: 80px;
    left: 1%;
    top: 1%;


}

.menu a {
    display: block;
    padding: 10px;
    color: #FFFFFF;

}

/*produtos*/

.img-livro {
    background: rgba(26, 83, 59, 0.26);
    border: 3px solid rgba(0, 0, 0, 1.18);
    width: 290px;
    height: 400px;
    border-radius: 7px;
    position: fixed;
    left: 85px;
    top: 20%;
    
}

.titulo{
    font-family: ARIAL;
    font-size: 30px;
}

.autordiretor{
    font-weight: bold;
    position: fixed;
    left: 90px;
    top: 65%;
}

.sinopse{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 690px;
    height: 400px;
    border-radius: 7px;
    position: fixed;
    left: 30%;
    top: 30%;
}

.button{
        background: #2ED0A0;
        border: 1px solid black;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: rgb(0, 0, 0);
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        min-width: 130px;
        border-radius: 5px;
}

