body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f4f5;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    text-align: center;
    margin-top: 75px;
}

img {
    max-width: 100%;
    display: flex;
    width: 300px;
    height: 400px;
}


.header {
    background: linear-gradient(90deg,#27b68b,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header>a>img {
    position: absolute;
    left: 47%;
    top: 0%;
    width: 200px;
    height: 90px;
}

.header>a {
    font-family: times;
    font-weight: bold;
    font-size: 40px;
}

.menu {
    cursor: pointer;
    display: flex;

}

.genero {
    cursor: pointer;
    position: absolute;
    left: 1%;
}

.box-genero {
    background: rgba(26, 83, 59, 0.26);
    border: 6px solid rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    border-radius: 7px;
    position: absolute;
    width: 100px;
    height: 80px;
    left: 1%;
    top: 1%;


}

.menu a {
    display: block;
    padding: 10px;
    color: #FFFFFF;

}

/*produtos*/

.img-livro {
    background: rgba(26, 83, 59, 0.26);
    border: 3px solid rgba(0, 0, 0, 1.18);
    width: 290px;
    height: 400px;
    border-radius: 7px;
    position: fixed;
    left: 85px;
    top: 20%;
    
}

.titulo{
    font-family: ARIAL;
    font-size: 30px;
}

.autordiretor{
    font-weight: bold;
    position: fixed;
    left: 90px;
    top: 65%;
}

.sinopse{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 690px;
    height: 400px;
    border-radius: 7px;
    position: fixed;
    left: 30%;
    top: 30%;
}

.button{
        background: #2ED0A0;
        border: 3px solid rgba#2d8534;
        color: rgb(0, 0, 0);
        padding: 10px;
        text-transform: uppercase;
        font-size: 11.5px;
        cursor: pointer;
        text-align: center;
        line-height: 1.2;
        transition: 0.3s all;
        text-decoration: none;
        min-width: 130px;
}

.icone{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 20px;
    top: 43%;
    
}

/*pesquisa*/

.search-container {
    width: 900px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 35px auto;
    width: 100%;
    height: 45px;
    padding: 1px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-radius: 80px;
    outline: none;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -95px;
    right: -15px;

}

/*menu-lateral*/

body {
    background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#check {
    display: none;
    background-color: #f00;
}

.barra {
    background-color: rgb(230, 230, 230);
    height: 190%;
    width: 300px;
    position: absolute;
    left: -300px;
    transition: all .2s linear;
}

.barra .link {
    color: #ffffff;
    list-style: none;
    background-color: #1fa77e;
    border-color: #4b4845;
}


nav a {
    text-decoration: none;
}

.link {
    color: #09090e;
    font-size: 17pt;
    font-weight: bold;
    padding: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: all .2s linear;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #2d8534;
}

#check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);

}

.license-offer {
    background-color: #1fa77e;
    border: 6px solid rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    border-radius: 7px;
    position: fixed;
    width: 350px;
    height: 400px;
    right: 1%;
    top: 12%;
}
