*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background: linear-gradient(90.44deg, #2ED0A0 0.64%, #0C110D 80.78%);
}
.login{
    background-color: #F2F2F2;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    gap: 20px;
    width: 440px;
    height: 650px;
}
.icone{
    margin-bottom: 5%;
    margin-top: 10%;
    height: 80px;
}
.login-input{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 12px;
    outline: none;
    font-size: 17px;
    width: 400px;
    height: 45px;
    left: 402px;
    top: 240px;
    border-color: #757575;
}
.botao{
    color: white;
    background-color: #2E2D2D;
    border-radius: 115px;
    width: 400px;
    height: 45px;
    left: 402px;
    top: 316px;
    font-size: large;
}
.botao:hover{
    background-color: #1B1B1B;
    cursor: pointer;
}

.passRe{
    position: relative;
    float: left;
}
