@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background: linear-gradient(90.44deg, #2ED0A0 0%, #0C110D 99.38%);
}

.cabecalho{
    background-color: #217863;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding: 5px;
}

.Icone{
    height: 42px;
}

.menu{
    display: flex;
    gap: 30px;
    font-size: 28px;
}

.menu-item{
    color: white;
}

.abas{
    border-bottom: 0.4px solid #D9D9D9;
}

.navegacao{
    margin-top: 4%;
    opacity: 90%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: 18%;
}

.nav-button{
    background: none;
    border: none;
    color: #D9D9D9;
    font-size: 30px;
    cursor: pointer;
}

.nav-button:hover{
    color: white;
    opacity: 100%;
}

.information{
    display: flex;
    flex-direction: row;
}

.conteudo{
    margin-left: 18%;
    margin-top: 6%;
    display: none;
}

.info{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #757575;
    border-radius: 10px;
    margin: 10%;
    color: #5D5D5D;
    font-size: 22px;
    width: 550px;
    height: 45px;
    padding: 7px;
}

.exit{
    background-color: #cc0e0e;
    color: white;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 20%;
    margin-left: 100%;
    cursor: pointer;
}
.exit:hover{
    background-color: #a20808;
}

.avatar{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
    align-items: center;
}

.avatar-user{
    display: flex;   
    border-radius: 50%;
}

.edit-avatar{
    background-color: #080707;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.box-book{
    background-color: #C4C4C4;
    opacity: 20%;
    border-radius: 10px;
    border: 1px solid black;
    width: 1000px;
    height: 500px;
}


